<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sloan Ahrens</title>
    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

  </head>

  <body>
  <div class='container' style="margin-top: 20px;">
    <div class="row">
      <div class="col-xs-8">
        <h1>Sloan Ahrens</h1>
        <h4>I'm a web developer, entrepreneur, and would-be data scientist. My primary data technology interests at the moment are Apache Spark and Elasticsearch. My favorite programming languages are Python and Scala (I'm still a Scala noob, though). I'm interested in all things "Big Data", and machine learning in particular.</h4>
        <h4>I am a cofounder of <a href="https://www.qbox.io" target="_blank">Qbox</a>, a startup offering hosted <a href="http://www.elasticsearch.org/" target="_blank">Elasticsearch</a>.</h4>
        <h4>Github: <a href="https://github.com/sloanahrens" target="_blank">
          https://github.com/sloanahrens
        </a></h4>
        <h4>StackOverflow: <a href="http://stackoverflow.com/users/2551686/sloan-ahrens" target="_blank">
          http://stackoverflow.com/users/2551686/sloan-ahrens
        </a></h4>
        <h4>LinkedIn: <a href="https://www.linkedin.com/in/sloanahrens" target="_blank">
          https://www.linkedin.com/in/sloanahrens</a></h4>
        <h4>Twitter: <a href="https://twitter.com/sloanahrens" target="_blank">
          https://twitter.com/sloanahrens</a></h4>
        <h4>I blog at: <a href="http://blog.qbox.io/" target="_blank">
          http://blog.qbox.io/</a></h4>
        <h4><strong>Picker</strong> demo: <a href="http://apps.sloanahrens.com/demos/picker.html" target="_blank">
          http://apps.sloanahrens.com/demos/picker.html</a></h4>
      </div>
    </div>
  </body>
</html>